* {
    margin: 0%;
    padding: 0%;

}
.navbar {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 1500px 200px;
    height: 50px;
}
.logo {
    width: 150px;
}
.link a{
    text-decoration: none;
    padding-left: 100px;
    font-weight: 500;
    font-size: 24px;
    color: black;
}
.link {
    margin: 15px 0px 0px 400px;
}
.login{
    height: 40px;
    width: 160px;
    margin-left: 30px;
    background-color: rgb(69, 238, 69);
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1000px 700px 200px;
    margin-top: 15px;
}
.item {
    height: 900px;
}
.item1 h1 {
    margin: 260px 0px 50px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 47px;
}
.item1 p {
    margin-left: 100px;
    margin-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.item1 button {
    background-color: black;
    color: white;
    padding: 12px 50px 12px 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0px 0px 100px;
}
.item2 img{
    height: 900px;
    width: 710px;
} 
.item3 {
    background-color: yellow;
}